<div class="row">
<div class="col-9">  
  <div style="margin-bottom:2px">
    <h4 style="color:hsl(345,0%, 35%)">{{h['name']}}    </h4>
  </div>
  <div style="margin-bottom:2px;">
  <b>Brathing:</b> {{h['Breathing style']}}
  </div>
  <div class="border-bottom" style="margin-bottom:16px;"> 
  <b>age:</b> {{h['age']}}
  </div>
</div>
<div class="col-3">
  <div <button type="button" class="btn btn-outline-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">view</button>
  </div>
</div>
</div>